@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("/fonts/roboto-v30-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/roboto-v30-latin-500.woff2") format("woff2"),
    url("/fonts/roboto-v30-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("/fonts/roboto-v30-latin-700.woff") format("woff");
}
body {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  overflow-x: hidden;
}
ma * {
  box-sizing: border-box;
}
.container {
  max-width: 1380px;

  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.container-twoo {
  max-width: 1380px;
  padding: 0;
  padding-top: 156px;
  padding-left: 100px;
  padding-bottom: 226px;
}
.site-hider {
  display: block;
  background-image: url("/imgs/fon-jgarang.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 40px 0;
}

.oll-headr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-headr {
  margin: 0;
  padding: 0;
}
.list-navbar {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.itms-navbar:not(:last-child) {
  margin-right: 40px;
}

.itms-href {
  text-decoration: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
}

.intro {
  padding: 0;
}
.text-main {
  max-width: 464px;
}
.text-main ::before {
  display: block;
  max-width: 166px;
  height: 166px;
  content: "";
  background-image: url("/imgs/kiyik.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -220px;
  left: 555px;
  z-index: 10;
}

.big-site-text {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;

  color: #000000;
}
.mini-site-text {
  margin: 0;
  padding-bottom: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.oll-text {
  position: relative;
}

.kofee {
  max-width: 710px;
  height: 696px;
  position: absolute;
  right: calc(50% - 699px);
  top: -155px;
}

.Create {
  text-decoration: none;
  padding: 16px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  background: #0a775f;
  border-radius: 100px;
  color: #ffffff;
}

.sect-list {
  position: relative;
}
.itms:first-child:before {
  content: "";
  display: block;
  max-width: 403px;
  height: 300px;
  background-image: url("/imgs/Frame-chap.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -100px;
  left: calc(-14%);
  right: 0px;
}

.itms:nth-child(4):before {
  content: "";
  display: block;
  max-width: 403px;
  height: 300px;
  background-image: url("/imgs/Vector-chap.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;

  bottom: 115px;
  left: calc(-17%);
  right: 0px;
}

.itms:nth-child(2)::after {
  content: "";
  display: block;
  width: 392px;
  height: 477px;
  background-image: url("/imgs/Fill-1-ong.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: calc(-19%);
  top: 190px;
  z-index: 2;
}
.fon {
  margin: 20px;
  padding: 50px 0;
  background-image: url("/imgs/fon-oq.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.our {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;

  color: #000000;
}
.list {
  margin: 0;
  padding: 0;
}
.itms {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: relative;
}
.text-paket {
  max-width: 410px;
  margin-left: 117px;
}
.itms:nth-child(2n) {
  flex-direction: row-reverse;
}

.paket-img {
  max-width: 450px;
  height: 375px;
}
.itms-big-text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  font-variant: small-caps;

  color: #333333;
}
.itms-small-text {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
}

.sect-why {
  width: 100%;
  height: 100%;
  margin-bottom: 289px;
  background-image: url("/imgs/toq-sariq-fon.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.why-box {
  width: 547px;
  padding: 50px 0 500px 0;
  margin-right: auto;
  margin-left: auto;
}
.big-why {
  text-align: center;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
  text-align: center;
  font-variant: small-caps;
  color: #ffffff;
}
.smaal-why {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.three-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -30%;
}
.three-list::before {
  content: "";
  display: block;
  width: 140px;
  height: 144px;
  background-image: url("/imgs/but-frist-kofe.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -570%;
  left: -50px;
  z-index: 5;
}
.three-itms {
  list-style: none;
  margin-right: 76px;
}
.three-itms::before {
  content: "";
  display: block;
  width: 433px;
  height: 500px;
  background-image: url("/imgs/qahva-maydalagic.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -522%;
}
.three-itms:nth-child(2):before {
  background-image: url("/imgs/kofe-idish.png");
}
.three-itms:nth-child(3):before {
  background-image: url("/imgs/qora-qiz.png");
}
.itms-box {
  width: 370px;
}
.itms-box-twoo {
  width: 334px;
}
.three-big-text {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  font-variant: small-caps;
  text-transform: uppercase;
  color: #333333;
}
.three-small-text {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}

.sect-end {
  padding: 50px 0;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
  background-image: url("/imgs/kok-fon.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.How {
  margin: 0;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  color: #ffffff;
}
.end-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.end-list::before {
  content: "";
  display: block;
  width: 993px;
  height: 60px;
  background-image: url("/imgs/uch-kvadrat.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 80px;
}

.end-itms {
  width: 433px;
  margin-top: 160px;
  margin-bottom: 76px;
  padding: 140px 28px 40px 20px;
  background: #f8f8f2;
  list-style: none;
}
.end-itms:not(:nth-child(3)) {
  margin-right: 20px;
}

.box-tex-coffee {
  width: 250px;
  margin-bottom: 10px;
}
.box-tex-coffee::before {
  content: "";
  display: block;
  width: 191px;
  height: 129px;
  background-image: url("/imgs/cofee-but.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -38px;
  right: 18px;
}

.end-itms::before {
  content: "03";
  display: block;
  width: 65px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 166px;
  right: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  font-variant: small-caps;
  color: #333333cc;
}

.end-itms:nth-child(1)::before {
  content: "01";
  top: 166px;
  left: 26%;
}

.end-itms:nth-child(2)::before {
  content: "02";
  top: 166px;
  left: 59%;
}

.mini-box {
  width: 385px;
}
.itms-big-text {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;

  color: #333333;
}
.itms-mini-text {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}
.plan-box {
  width: 175px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 24px;
  background: #c99b67;
  border-radius: 100px;
}
.plan {
  text-align: center;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;

  color: #ffffff;
}

.list-navbar-icon {
  margin: 0;
  padding: 0;
  display: flex;
}
.itms-navbar-icon {
  list-style: none;
}
.itms-navbar-icon:not(:nth-child(3)) {
  margin-right: 30px;
}

.list-foter {
  margin-right: 50px;
}
